/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --cc-dimension-primitives-opacity-100: 6.25rem;
  --cc-dimension-primitives-opacity-90: 5.625rem;
  --cc-dimension-primitives-opacity-80: 5rem;
  --cc-dimension-primitives-opacity-70: 4.375rem;
  --cc-dimension-primitives-opacity-60: 3.75rem;
  --cc-dimension-primitives-opacity-50: 3.125rem;
  --cc-dimension-primitives-opacity-40: 2.5rem;
  --cc-dimension-primitives-opacity-30: 1.875rem;
  --cc-dimension-primitives-opacity-20: 1.25rem;
  --cc-dimension-primitives-opacity-10: 0.625rem;
  --cc-dimension-primitives-opacity-0: 0rem;
  --cc-dimension-primitives-size-0: 0rem;
  --cc-dimension-primitives-size-05: 0.031rem;
  --cc-dimension-primitives-size-1: 0.063rem;
  --cc-dimension-primitives-size-2: 0.125rem;
  --cc-dimension-primitives-size-4: 0.25rem;
  --cc-dimension-primitives-size-6: 0.375rem;
  --cc-dimension-primitives-size-8: 0.5rem;
  --cc-dimension-primitives-size-10: 0.625rem;
  --cc-dimension-primitives-size-12: 0.75rem;
  --cc-dimension-primitives-size-14: 0.875rem;
  --cc-dimension-primitives-size-16: 1rem;
  --cc-dimension-primitives-size-18: 1.125rem;
  --cc-dimension-primitives-size-20: 1.25rem;
  --cc-dimension-primitives-size-22: 1.375rem;
  --cc-dimension-primitives-size-24: 1.5rem;
  --cc-dimension-primitives-size-26: 1.625rem;
  --cc-dimension-primitives-size-28: 1.75rem;
  --cc-dimension-primitives-size-32: 2rem;
  --cc-dimension-primitives-size-36: 2.25rem;
  --cc-dimension-primitives-size-40: 2.5rem;
  --cc-dimension-primitives-size-44: 2.75rem;
  --cc-dimension-primitives-size-48: 3rem;
  --cc-dimension-primitives-size-52: 3.25rem;
  --cc-dimension-primitives-size-56: 3.5rem;
  --cc-dimension-primitives-size-60: 3.75rem;
  --cc-dimension-primitives-size-64: 4rem;
  --cc-dimension-primitives-size-80: 5rem;
  --cc-dimension-primitives-size-96: 6rem;
  --cc-dimension-primitives-size-112: 7rem;
  --cc-dimension-primitives-size-128: 8rem;
  --cc-dimension-primitives-size-144: 9rem;
  --cc-dimension-primitives-size-160: 10rem;
  --cc-dimension-primitives-size-176: 11rem;
  --cc-dimension-primitives-size-192: 12rem;
  --cc-dimension-primitives-size-208: 13rem;
  --cc-dimension-primitives-size-224: 14rem;
  --cc-dimension-primitives-size-240: 15rem;
  --cc-dimension-primitives-size-256: 16rem;
  --cc-dimension-primitives-size-288: 18rem;
  --cc-dimension-primitives-size-320: 20rem;
  --cc-dimension-primitives-size-384: 24rem;
  --cc-dimension-primitives-size-1: -0.062rem;
  --cc-dimension-primitives-size-2: -0.125rem;
  --cc-dimension-primitives-size-4: -0.25rem;
  --cc-dimension-primitives-size-6: -0.375rem;
  --cc-dimension-primitives-size-8: -0.5rem;
  --cc-dimension-primitives-size-10: -0.625rem;
  --cc-dimension-primitives-size-12: -0.75rem;
  --cc-dimension-primitives-size-14: -0.875rem;
  --cc-dimension-primitives-size-16: -1rem;
  --cc-dimension-primitives-size-20: -1.25rem;
  --cc-dimension-primitives-size-24: -1.5rem;
  --cc-dimension-primitives-size-28: -1.75rem;
  --cc-dimension-primitives-size-32: -2rem;
  --cc-dimension-primitives-size-36: -2.25rem;
  --cc-dimension-primitives-font-weight-thin: 6.25rem;
  --cc-dimension-primitives-font-weight-extra-light: 12.5rem;
  --cc-dimension-primitives-font-weight-light: 18.75rem;
  --cc-dimension-primitives-font-weight-regular: 25rem;
  --cc-dimension-primitives-font-weight-medium: 31.25rem;
  --cc-dimension-primitives-font-weight-semibold: 37.5rem;
  --cc-dimension-primitives-font-weight-bold: 43.75rem;
  --cc-dimension-primitives-font-weight-extrabold: 50rem;
  --cc-dimension-primitives-font-weight-black: 56.25rem;
  --cc-dimension-alias-size-border-radius-full: 62.438rem;
  --cc-dimension-alias-size-typo-font-size-250: var(--cc-dimension-primitives-size-10);
  --cc-dimension-alias-size-typo-font-size-300: var(--cc-dimension-primitives-size-12);
  --cc-dimension-alias-size-typo-font-size-350: var(--cc-dimension-primitives-size-14);
  --cc-dimension-alias-size-typo-font-size-400-base: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-typo-font-size-450: var(--cc-dimension-primitives-size-18);
  --cc-dimension-alias-size-typo-font-size-500: var(--cc-dimension-primitives-size-20);
  --cc-dimension-alias-size-typo-font-size-600: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-typo-font-size-800: var(--cc-dimension-primitives-size-32);
  --cc-dimension-alias-size-typo-font-size-1000: var(--cc-dimension-primitives-size-40);
  --cc-dimension-alias-size-typo-font-size-1200: var(--cc-dimension-primitives-size-48);
  --cc-dimension-alias-size-typo-font-size-1400: var(--cc-dimension-primitives-size-56);
  --cc-dimension-alias-size-typo-line-height-350: var(--cc-dimension-primitives-size-14);
  --cc-dimension-alias-size-typo-line-height-400: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-typo-line-height-500: var(--cc-dimension-primitives-size-20);
  --cc-dimension-alias-size-typo-line-height-600-base: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-typo-line-height-650: var(--cc-dimension-primitives-size-26);
  --cc-dimension-alias-size-typo-line-height-700: var(--cc-dimension-primitives-size-28);
  --cc-dimension-alias-size-typo-line-height-800: var(--cc-dimension-primitives-size-32);
  --cc-dimension-alias-size-typo-line-height-1000: var(--cc-dimension-primitives-size-40);
  --cc-dimension-alias-size-typo-line-height-1200: var(--cc-dimension-primitives-size-48);
  --cc-dimension-alias-size-typo-line-height-1400: var(--cc-dimension-primitives-size-56);
  --cc-dimension-alias-size-typo-line-height-1600: var(--cc-dimension-primitives-size-64);
  --cc-dimension-alias-size-spacing-gap-50: var(--cc-dimension-primitives-size-2);
  --cc-dimension-alias-size-spacing-gap-100: var(--cc-dimension-primitives-size-4);
  --cc-dimension-alias-size-spacing-gap-200: var(--cc-dimension-primitives-size-8);
  --cc-dimension-alias-size-spacing-gap-300: var(--cc-dimension-primitives-size-12);
  --cc-dimension-alias-size-spacing-gap-400: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-spacing-gap-600: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-border-radius-50: var(--cc-dimension-primitives-size-2);
  --cc-dimension-alias-size-border-radius-100: var(--cc-dimension-primitives-size-4);
  --cc-dimension-alias-size-border-radius-150: var(--cc-dimension-primitives-size-6);
  --cc-dimension-alias-size-border-radius-200: var(--cc-dimension-primitives-size-8);
  --cc-dimension-alias-size-border-radius-250: var(--cc-dimension-primitives-size-10);
  --cc-dimension-alias-size-border-radius-300: var(--cc-dimension-primitives-size-12);
  --cc-dimension-alias-size-border-radius-400: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-border-radius-600: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-border-radius-800: var(--cc-dimension-primitives-size-32);
  --cc-dimension-alias-size-border-weight-01: var(--cc-dimension-primitives-size-05);
  --cc-dimension-alias-size-border-weight-25: var(--cc-dimension-primitives-size-1);
  --cc-dimension-alias-size-border-weight-50: var(--cc-dimension-primitives-size-2);
  --cc-dimension-alias-size-border-weight-100: var(--cc-dimension-primitives-size-4);
  --cc-dimension-alias-size-opacity-disabled: var(--cc-dimension-primitives-opacity-60);
  --cc-dimension-alias-size-spacing-padding-50: var(--cc-dimension-primitives-size-2);
  --cc-dimension-alias-size-spacing-padding-100: var(--cc-dimension-primitives-size-4);
  --cc-dimension-alias-size-spacing-padding-150: var(--cc-dimension-primitives-size-6);
  --cc-dimension-alias-size-spacing-padding-200: var(--cc-dimension-primitives-size-8);
  --cc-dimension-alias-size-spacing-padding-300: var(--cc-dimension-primitives-size-12);
  --cc-dimension-alias-size-spacing-padding-400: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-spacing-padding-600: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-spacing-padding-800: var(--cc-dimension-primitives-size-32);
  --cc-dimension-alias-size-spacing-padding-1200: var(--cc-dimension-primitives-size-48);
  --cc-dimension-alias-size-spacing-padding-1600: var(--cc-dimension-primitives-size-64);
  --cc-dimension-alias-size-spacing-padding-2400: var(--cc-dimension-primitives-size-96);
  --cc-dimension-alias-size-spacing-gap-100: var(--cc-dimension-primitives-size-4);
  --cc-dimension-alias-size-spacing-gap-200: var(--cc-dimension-primitives-size-8);
  --cc-dimension-alias-size-spacing-gap-300: var(--cc-dimension-primitives-size-12);
  --cc-dimension-alias-size-spacing-gap-400: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-spacing-gap-600: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-spacing-margin-50: var(--cc-dimension-primitives-size-2);
  --cc-dimension-alias-size-spacing-margin-100: var(--cc-dimension-primitives-size-4);
  --cc-dimension-alias-size-spacing-margin-150: var(--cc-dimension-primitives-size-6);
  --cc-dimension-alias-size-spacing-margin-200: var(--cc-dimension-primitives-size-8);
  --cc-dimension-alias-size-spacing-margin-300: var(--cc-dimension-primitives-size-12);
  --cc-dimension-alias-size-spacing-margin-400: var(--cc-dimension-primitives-size-16);
  --cc-dimension-alias-size-spacing-margin-600: var(--cc-dimension-primitives-size-24);
  --cc-dimension-alias-size-spacing-margin-800: var(--cc-dimension-primitives-size-32);
  --cc-dimension-alias-size-spacing-margin-1200: var(--cc-dimension-primitives-size-48);
  --cc-dimension-alias-size-spacing-margin-1600: var(--cc-dimension-primitives-size-64);
  --cc-dimension-alias-size-spacing-margin-2400: var(--cc-dimension-primitives-size-96);
  --cc-dimension-alias-size-icon-size-default: var(--cc-dimension-primitives-size-24);
}