/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-number {
  --cc-color-primitives-color-neutral-0: #ffffff;
  --cc-color-primitives-color-neutral-50: #fcfcfc;
  --cc-color-primitives-color-neutral-100: #f5f5f5;
  --cc-color-primitives-color-neutral-150: #f0f0f0;
  --cc-color-primitives-color-neutral-200: #e5e5e5;
  --cc-color-primitives-color-neutral-250: #d9d9d9;
  --cc-color-primitives-color-neutral-300: #d4d4d4;
  --cc-color-primitives-color-neutral-350: #bbbbbb;
  --cc-color-primitives-color-neutral-400: #a3a3a3;
  --cc-color-primitives-color-neutral-450: #8d8d8d;
  --cc-color-primitives-color-neutral-500: #838383;
  --cc-color-primitives-color-neutral-550: #737373;
  --cc-color-primitives-color-neutral-600: #646464;
  --cc-color-primitives-color-neutral-650: #525252;
  --cc-color-primitives-color-neutral-700: #404040;
  --cc-color-primitives-color-neutral-750: #2f2f2f;
  --cc-color-primitives-color-neutral-800: #262626;
  --cc-color-primitives-color-neutral-900: #1e1e1e;
  --cc-color-primitives-color-neutral-950: #191919;
  --cc-color-primitives-color-neutral-1000: #000000;
  --cc-color-primitives-color-violet-50: #faf8ff;
  --cc-color-primitives-color-violet-100: #f5f3ff;
  --cc-color-primitives-color-violet-150: #ede9fe;
  --cc-color-primitives-color-violet-200: #ddd6fe;
  --cc-color-primitives-color-violet-250: #c4b5fd;
  --cc-color-primitives-color-violet-300: #aa99ec;
  --cc-color-primitives-color-violet-400: #a78bfa;
  --cc-color-primitives-color-violet-500: #8b5cf6;
  --cc-color-primitives-color-violet-alpha-600-a24: #7c3aed3d;
  --cc-color-primitives-color-violet-alpha-250-a24: #c4b5fd3d;
  --cc-color-primitives-color-violet-600: #7c3aed;
  --cc-color-primitives-color-violet-700: #6d28d9;
  --cc-color-primitives-color-violet-750: #6e56cf;
  --cc-color-primitives-color-violet-800: #5b21b6;
  --cc-color-primitives-color-violet-900: #4c1d95;
  --cc-color-primitives-color-violet-950: #2e1065;
  --cc-color-primitives-color-blue-50: #fbfdff;
  --cc-color-primitives-color-blue-100: #eff6ff;
  --cc-color-primitives-color-blue-200: #dbeafe;
  --cc-color-primitives-color-blue-300: #bedbff;
  --cc-color-primitives-color-blue-400: #8ec5ff;
  --cc-color-primitives-color-blue-500: #51a2ff;
  --cc-color-primitives-color-blue-alpha-600-a24: #2c7efc38;
  --cc-color-primitives-color-blue-alpha-300-a24: #bedbff3d;
  --cc-color-primitives-color-blue-600: #2c7efc;
  --cc-color-primitives-color-blue-700: #1c50f3;
  --cc-color-primitives-color-blue-800: #193cb8;
  --cc-color-primitives-color-blue-900: #1c398e;
  --cc-color-primitives-color-blue-950: #162456;
  --cc-color-primitives-color-green-50: #f3fcf7;
  --cc-color-primitives-color-green-100: #eefff6;
  --cc-color-primitives-color-green-200: #d0f5e3;
  --cc-color-primitives-color-green-300: #a3e9c4;
  --cc-color-primitives-color-green-400: #6dd9a0;
  --cc-color-primitives-color-green-500: #34c77b;
  --cc-color-primitives-color-green-600: #1aad62;
  --cc-color-primitives-color-green-alpha-600-a24: #1aad623d;
  --cc-color-primitives-color-green-alpha-300-a24: #a3e9c43d;
  --cc-color-primitives-color-green-700: #0d8c4c;
  --cc-color-primitives-color-green-800: #086637;
  --cc-color-primitives-color-green-900: #054224;
  --cc-color-primitives-color-green-950: #062e1a;
  --cc-color-primitives-color-yellow-50: #fffef1;
  --cc-color-primitives-color-yellow-100: #fff8e6;
  --cc-color-primitives-color-yellow-200: #ffedb8;
  --cc-color-primitives-color-yellow-300: #ffd97a;
  --cc-color-primitives-color-yellow-400: #ffc240;
  --cc-color-primitives-color-yellow-alpha-500-a24: #ffb02038;
  --cc-color-primitives-color-yellow-alpha-300-a24: #ffd97a3d;
  --cc-color-primitives-color-yellow-500: #ffb020;
  --cc-color-primitives-color-yellow-600: #e69500;
  --cc-color-primitives-color-yellow-700: #b87300;
  --cc-color-primitives-color-yellow-800: #705004;
  --cc-color-primitives-color-yellow-900: #522504;
  --cc-color-primitives-color-yellow-950: #3d2600;
  --cc-color-primitives-color-red-50: #fffcfc;
  --cc-color-primitives-color-red-100: #fff2f1;
  --cc-color-primitives-color-red-200: #ffd9d6;
  --cc-color-primitives-color-red-300: #fcb3ad;
  --cc-color-primitives-color-red-400: #f4776a;
  --cc-color-primitives-color-red-500: #f94845;
  --cc-color-primitives-color-red-600: #ec221f;
  --cc-color-primitives-color-red-alpha-600-a24: #ec221f3d;
  --cc-color-primitives-color-red-alpha-300-a24: #fcb3ad3d;
  --cc-color-primitives-color-red-700: #c7100d;
  --cc-color-primitives-color-red-800: #9f0712;
  --cc-color-primitives-color-red-900: #82181a;
  --cc-color-primitives-color-red-950: #460809;
  --cc-color-primitives-color-brand-orange: #f57461;
  --cc-color-primitives-color-brand-red-1: #e63f48;
  --cc-color-primitives-color-brand-red-2: #de233c;
  --cc-color-primitives-color-brand-red-3: #cb1c42;
  --cc-color-primitives-color-brand-cherry: #a51050;
  --cc-color-primitives-color-brand-purple: #3a3871;
  --cc-color-primitives-color-brand-black: #13172e;
  --cc-color-primitives-color-brand-grey: #777787;
  --cc-color-primitives-color-neutral-alpha-0-a0: #ffffff00;
  --cc-color-primitives-color-neutral-alpha-300-a8: #d4d4d414;
  --cc-color-primitives-color-neutral-alpha-300-a10: #d4d4d41a;
  --cc-color-primitives-color-neutral-alpha-300-a12: #d4d4d41f;
  --cc-color-primitives-color-neutral-alpha-300-a20: #d4d4d433;
  --cc-color-primitives-color-neutral-alpha-800-a8: #40404014;
  --cc-color-primitives-color-neutral-alpha-800-a10: #4040401a;
  --cc-color-primitives-color-neutral-alpha-800-a12: #4040401f;
  --cc-color-primitives-color-neutral-alpha-800-a14: #40404024;
  --cc-color-primitives-color-neutral-alpha-900-a20: #26262633;
  --cc-color-primitives-color-neutral-alpha-900-a48: #2626267a;
  --cc-color-primitives-color-neutral-alpha-900-a80: #262626cc;
  --cc-color-primitives-color-neutral-alpha-1000-a0: #00000000;
  --cc-color-alias-color-theme-bg-accent: var(--cc-color-primitives-color-violet-600);
  --cc-color-alias-color-theme-bg-accent-subtle: var(--cc-color-primitives-color-violet-100);
  --cc-color-alias-color-theme-bg-accent-strong: var(--cc-color-primitives-color-violet-800);
  --cc-color-alias-color-theme-bg-default-weakest: var(--cc-color-primitives-color-neutral-0);
  --cc-color-alias-color-theme-bg-default-weaker: var(--cc-color-primitives-color-neutral-50);
  --cc-color-alias-color-theme-bg-default-weak: var(--cc-color-primitives-color-neutral-100);
  --cc-color-alias-color-theme-bg-default-regular: var(--cc-color-primitives-color-neutral-150);
  --cc-color-alias-color-theme-bg-default-medium: var(--cc-color-primitives-color-neutral-250);
  --cc-color-alias-color-theme-bg-default-strong: var(--cc-color-primitives-color-neutral-350);
  --cc-color-alias-color-theme-bg-default-stronger: var(--cc-color-primitives-color-neutral-550);
  --cc-color-alias-color-theme-bg-default-strongest: var(--cc-color-primitives-color-neutral-800);
  --cc-color-alias-color-theme-bg-status-success-weak: var(--cc-color-primitives-color-green-100);
  --cc-color-alias-color-theme-bg-status-success-medium: var(--cc-color-primitives-color-green-600);
  --cc-color-alias-color-theme-bg-status-success-strong: var(--cc-color-primitives-color-green-800);
  --cc-color-alias-color-theme-bg-status-warning-weak: var(--cc-color-primitives-color-yellow-100);
  --cc-color-alias-color-theme-bg-status-warning-medium: var(--cc-color-primitives-color-yellow-500);
  --cc-color-alias-color-theme-bg-status-warning-strong: var(--cc-color-primitives-color-yellow-600);
  --cc-color-alias-color-theme-bg-status-error-weak: var(--cc-color-primitives-color-red-100);
  --cc-color-alias-color-theme-bg-status-error-medium: var(--cc-color-primitives-color-red-500);
  --cc-color-alias-color-theme-bg-status-error-strong: var(--cc-color-primitives-color-red-800);
  --cc-color-alias-color-theme-bg-status-info-weak: var(--cc-color-primitives-color-blue-100);
  --cc-color-alias-color-theme-bg-status-info-medium: var(--cc-color-primitives-color-blue-500);
  --cc-color-alias-color-theme-bg-status-info-strong: var(--cc-color-primitives-color-blue-800);
  --cc-color-alias-color-theme-icon-default-weakest: var(--cc-color-primitives-color-neutral-0);
  --cc-color-alias-color-theme-icon-default-weaker: var(--cc-color-primitives-color-neutral-200);
  --cc-color-alias-color-theme-icon-default-weak: var(--cc-color-primitives-color-neutral-300);
  --cc-color-alias-color-theme-icon-default-regular: var(--cc-color-primitives-color-neutral-400);
  --cc-color-alias-color-theme-icon-default-medium: var(--cc-color-primitives-color-neutral-550);
  --cc-color-alias-color-theme-icon-default-strong: var(--cc-color-primitives-color-neutral-650);
  --cc-color-alias-color-theme-icon-default-stronger: var(--cc-color-primitives-color-neutral-750);
  --cc-color-alias-color-theme-icon-default-strongest: var(--cc-color-primitives-color-neutral-900);
  --cc-color-alias-color-theme-border-accent: var(--cc-color-primitives-color-violet-500);
  --cc-color-alias-color-theme-border-accent-subtle: var(--cc-color-primitives-color-violet-200);
  --cc-color-alias-color-theme-border-accent-strong: var(--cc-color-primitives-color-violet-750);
  --cc-color-alias-color-theme-border-default-weakest: var(--cc-color-primitives-color-neutral-50);
  --cc-color-alias-color-theme-border-default-weaker: var(--cc-color-primitives-color-neutral-150);
  --cc-color-alias-color-theme-border-default-weak: var(--cc-color-primitives-color-neutral-250);
  --cc-color-alias-color-theme-border-default-regular: var(--cc-color-primitives-color-neutral-350);
  --cc-color-alias-color-theme-border-default-medium: var(--cc-color-primitives-color-neutral-450);
  --cc-color-alias-color-theme-border-default-strong: var(--cc-color-primitives-color-neutral-650);
  --cc-color-alias-color-theme-border-default-stronger: var(--cc-color-primitives-color-neutral-800);
  --cc-color-alias-color-theme-border-default-strongest: var(--cc-color-primitives-color-neutral-1000);
  --cc-color-alias-color-theme-border-status-success-weak: var(--cc-color-primitives-color-green-200);
  --cc-color-alias-color-theme-border-status-success-medium: var(--cc-color-primitives-color-green-700);
  --cc-color-alias-color-theme-border-status-success-strong: var(--cc-color-primitives-color-green-900);
  --cc-color-alias-color-theme-border-status-warning-weak: var(--cc-color-primitives-color-yellow-200);
  --cc-color-alias-color-theme-border-status-warning-medium: var(--cc-color-primitives-color-yellow-600);
  --cc-color-alias-color-theme-border-status-warning-strong: var(--cc-color-primitives-color-yellow-700);
  --cc-color-alias-color-theme-border-status-error-weak: var(--cc-color-primitives-color-red-200);
  --cc-color-alias-color-theme-border-status-error-medium: var(--cc-color-primitives-color-red-600);
  --cc-color-alias-color-theme-border-status-error-strong: var(--cc-color-primitives-color-red-900);
  --cc-color-alias-color-theme-border-status-info-weak: var(--cc-color-primitives-color-blue-200);
  --cc-color-alias-color-theme-border-status-info-medium: var(--cc-color-primitives-color-blue-600);
  --cc-color-alias-color-theme-border-status-info-strong: var(--cc-color-primitives-color-blue-900);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-default: var(--cc-color-primitives-color-neutral-alpha-900-a20);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-inverted: var(--cc-color-primitives-color-neutral-alpha-300-a20);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-success: var(--cc-color-primitives-color-green-alpha-600-a24);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-danger: var(--cc-color-primitives-color-red-alpha-600-a24);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-warning: var(--cc-color-primitives-color-yellow-alpha-500-a24);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-info: var(--cc-color-primitives-color-blue-alpha-600-a24);
  --cc-color-alias-color-theme-border-focus-ring-focus-ring-accent: var(--cc-color-primitives-color-violet-alpha-600-a24);
  --cc-color-alias-color-theme-text-accent: var(--cc-color-primitives-color-violet-500);
  --cc-color-alias-color-theme-text-default-weakest: var(--cc-color-primitives-color-neutral-0);
  --cc-color-alias-color-theme-text-accent-subtle: var(--cc-color-primitives-color-violet-250);
  --cc-color-alias-color-theme-text-accent-strong: var(--cc-color-primitives-color-violet-800);
  --cc-color-alias-color-theme-text-default-weaker: var(--cc-color-primitives-color-neutral-200);
  --cc-color-alias-color-theme-text-default-weak: var(--cc-color-primitives-color-neutral-300);
  --cc-color-alias-color-theme-text-default-regular: var(--cc-color-primitives-color-neutral-400);
  --cc-color-alias-color-theme-text-default-medium: var(--cc-color-primitives-color-neutral-550);
  --cc-color-alias-color-theme-text-default-strong: var(--cc-color-primitives-color-neutral-650);
  --cc-color-alias-color-theme-text-default-stronger: var(--cc-color-primitives-color-neutral-750);
  --cc-color-alias-color-theme-text-default-strongest: var(--cc-color-primitives-color-neutral-900);
  --cc-color-alias-color-theme-text-status-success-weak: var(--cc-color-primitives-color-green-300);
  --cc-color-alias-color-theme-text-status-success-medium: var(--cc-color-primitives-color-green-700);
  --cc-color-alias-color-theme-text-status-success-strong: var(--cc-color-primitives-color-green-800);
  --cc-color-alias-color-theme-text-status-warning-weak: var(--cc-color-primitives-color-yellow-300);
  --cc-color-alias-color-theme-text-status-warning-medium: var(--cc-color-primitives-color-yellow-700);
  --cc-color-alias-color-theme-text-status-warning-strong: var(--cc-color-primitives-color-yellow-800);
  --cc-color-alias-color-theme-text-status-error-weak: var(--cc-color-primitives-color-red-300);
  --cc-color-alias-color-theme-text-status-error-medium: var(--cc-color-primitives-color-red-600);
  --cc-color-alias-color-theme-text-status-error-strong: var(--cc-color-primitives-color-red-800);
  --cc-color-alias-color-theme-text-status-info-weak: var(--cc-color-primitives-color-blue-300);
  --cc-color-alias-color-theme-text-status-info-medium: var(--cc-color-primitives-color-blue-600);
  --cc-color-alias-color-theme-text-status-info-strong: var(--cc-color-primitives-color-blue-800);
  --cc-color-alias-color-theme-icon-accent: var(--cc-color-primitives-color-violet-500);
  --cc-color-alias-color-theme-icon-accent-subtle: var(--cc-color-primitives-color-violet-250);
  --cc-color-alias-color-theme-icon-accent-strong: var(--cc-color-primitives-color-violet-800);
  --cc-color-alias-color-theme-icon-status-success-weak: var(--cc-color-primitives-color-green-300);
  --cc-color-alias-color-theme-icon-status-success-medium: var(--cc-color-primitives-color-green-700);
  --cc-color-alias-color-theme-icon-status-success-strong: var(--cc-color-primitives-color-green-800);
  --cc-color-alias-color-theme-icon-status-warning-weak: var(--cc-color-primitives-color-yellow-300);
  --cc-color-alias-color-theme-icon-status-warning-medium: var(--cc-color-primitives-color-yellow-700);
  --cc-color-alias-color-theme-icon-status-warning-strong: var(--cc-color-primitives-color-yellow-800);
  --cc-color-alias-color-theme-icon-status-error-weak: var(--cc-color-primitives-color-red-300);
  --cc-color-alias-color-theme-icon-status-error-medium: var(--cc-color-primitives-color-red-600);
  --cc-color-alias-color-theme-icon-status-error-strong: var(--cc-color-primitives-color-red-800);
  --cc-color-alias-color-theme-icon-status-info-weak: var(--cc-color-primitives-color-blue-300);
  --cc-color-alias-color-theme-icon-status-info-medium: var(--cc-color-primitives-color-blue-600);
  --cc-color-alias-color-theme-icon-status-info-strong: var(--cc-color-primitives-color-blue-800);
  --cc-color-alias-color-theme-overlay-canva: var(--cc-color-primitives-color-neutral-alpha-900-a48);
  --cc-color-alias-color-theme-shadow-drop-8: var(--cc-color-primitives-color-neutral-alpha-800-a8);
  --cc-color-alias-color-theme-misc-transparent: var(--cc-color-primitives-color-neutral-alpha-0-a0);
  --cc-color-alias-color-theme-shadow-drop-10: var(--cc-color-primitives-color-neutral-alpha-800-a10);
  --cc-color-alias-color-theme-shadow-drop-12: var(--cc-color-primitives-color-neutral-alpha-800-a12);
  --cc-color-alias-color-theme-shadow-drop-14: var(--cc-color-primitives-color-neutral-alpha-800-a14);
  --cc-color-alias-color-theme-overlay-canva-subtle: var(--cc-color-primitives-color-neutral-alpha-900-a20);
  --cc-color-alias-color-theme-overlay-hover: var(--cc-color-primitives-color-neutral-alpha-800-a14);
  --cc-color-alias-color-theme-overlay-hover-strong: var(--cc-color-primitives-color-neutral-alpha-900-a20);
}